[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fasteners = ">=0.14.1"
mock = ">=2.0.0"
pylint = ">=1.6.5"
pytest = ">=3.2.3"
pytest-cov = ">=2.5.1"
pytest-mock = ">=1.6.3"
pytest-xdist = ">=1.20.1"
fabric = "*"
sh = ">=1.12.14"
testtools = ">=2.3.0"
tornado= ">=4.5.2"

[packages]
blinker = "<1.5,>=1.4"
bottle = ">=0.12,<0.13"
click = ">=6,<7"
click-didyoumean = "<0.1,>=0.0.3"
colorama = "<=0.4,>=0.3"
jsonpickle = ">=0.9,<=1.0"
logutils = ">=0.3,<0.4"
networkx = "<2.1,>=2.0"
psutil = ">=5.4,<5.5"
requests = ">=2.3,<2.14"
retrying = ">=1.3,<1.4"
shortuuid = ">=0.5,<0.6"
wagon = ">=0.6,<0.7"
"backports.shutil_get_terminal_size" = "<2,>=1"
Jinja2 = ">=2.9,<3.0"
PrettyTable = ">=0.7,<0.8"
"ruamel.yaml" = "<0.16,>=0.15"
SQLAlchemy = "<1.2,>=1.1"
CacheControl = {extras = ["filecache"],version = "<0.13,>=0.11.0"}
backports-abc = "*"

[requires]
python_version = "2.7"
